.header{
    justify-content: space-between;
    padding: 10px 0px;
    background-color: var(--slack-color);
    color: white;
}
.header, .header__left {
    display: flex;
    align-items: center;
}
.header__left{
    flex: 0.3;
    margin-left:20px; ;
}
.header__left > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: 30px;
}

.header__search{
    flex: 0.4 1;
    background-color: #421f44;
    text-align: center;
    display: flex;
    padding: 0 50px;
    color: grey;
    border: 1px solid grey;
    border-radius: 6px;
}
.header__search>input {
    background-color: transparent;
    border: none;
    text-align: left;
    min-width: 35vw;
    color: grey;
}
.header__search>input:focus{
    outline-width: 0px;
}
.header__right {
    flex: 0.3 1;
    display: flex;
    align-items: flex-end;
}
.header__right>.MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 20px;
}